.border-bottom-only {
    // border-width: 0 0 2px !important; /* Set border width for bottom only */
    // border-color: #ffffff !important; /* Set border color */
    // border-radius: 0 !important; /* Optional: Set border radius to 0 if you don't want rounded corners */
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: black;
    width: 70%;
}

.stepper.stepper-links.stepper-nav {
    justify-content: space-between !important;
    display: flex;
}

.stepper-item {
    flex: 1;
    /* Make stepper items flexible */
    text-align: center;
    /* Center-align stepper item content */
}

.btn.btn-block.d-block.fixed-width {
    width: 275px;
    color: #000000;
    line-height: 24.2px;
    border-radius: 15px;
    border: 1px solid #000 !important;
    background-color: transparent;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-width-lg {
    background-color: #000000 !important;
    color: #ffffff;
    line-height: 24.2px;
    border-radius: 0;
    justify-content: center;
}

.fixed-width-lg-md {
    width: 275px;
    color: #000000;
    line-height: 24.2px;
    border-radius: 15px;
    border: 1px solid #000 !important;
    background-color: transparent;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-203-66 {
    width: 203px !important;
    height: 66px !important;
}

.fixed-width-checked {
    border: #000000 1px solid;
    background-color: #ffffff !important;
    color: #000000;
    line-height: 24.2px;
    border-radius: 0;
    justify-content: center;

}


.btn.btn-block.d-flex.fixed-width-xlg {
    background-color: #000000;
    line-height: 20px;
    justify-content: space-between;
    flex-direction: column;
    background: transparent;
    border: 1px solid #000000 !important;
    color: #000;
    border-radius: 15px;
    height: 150px;
    width: 190px;
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.font-size-24 {
    font-size: 24px !important;
    font-weight: 400 !important;
}

.font-size-16 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.font-size-12 {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.font-size-9 {
    font-size: 9px !important;
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    .stepper-item {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }
}

.btn-next-lg {
    height: 43px !important;
    width: 202px !important;
    justify-content: center !important;
    display: flex !important;
    margin-top: 119px;
    border-radius: 0;

}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}

.btn-top-back-hidden {
    height: 28px;
    width: 59px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 18px !important;
    justify-content: center !important;
    display: flex !important;
    // border-radius: 40px;
    // background-color: #ffffff !important;
    // color: #000000 !important;
}

.w-203 {
    width: 203px;
}

.h-55 {
    height: 55px !important;
}

.btn-next-md {
    height: 55px !important;
    width: 117px !important;
    justify-content: center !important;
    display: flex !important;
    // margin-top: 119px;
    border-radius: 0;
    background-color: #000000;
    color: #ffffff;
    border: none;

}

.mb-120 {
    margin-bottom: 120px;
}

.button-alignment {
    justify-content: center;
}

.fixed-width-lg-md:has(> .btn-check:checked) {
    background-color: white;
    color: black;
    border: #000000 1px solid !important;
}

.h-78px.w-82px {
    width: 82px !important;
    height: 78px !important;
}

.ml-30 {
    margin-left: 30px;
}

.background-image-container {
    position: relative;
    background-size: cover;
    background-position: center;
}

.background-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: 0.5;
    /* Adjust this value for the desired opacity */
    z-index: 0;
}

.background-image-container .content {
    position: relative;
    z-index: 1;
}

.img-63-66 {
    width: 63px !important;
    height: 66px !important;
}

.img-42-42 {
    width: 31px !important;
    height: 31px !important;
}

.container {
    max-width: 405px !important;
}

.rounded-input-box {
    border: 1px solid black;
    border-radius: 100px;
}

.age-selection-container {
    display: flex;
    flex-direction: column;

}

.transparent-button {
    width: 275px !important;
    height: 45px !important;
    color: #000000 !important;
    line-height: 24.2px !important;
    border-radius: 15px !important;
    border: 1px solid #000 !important;
    background-color: transparent !important;
    padding: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.selected-btn {
    background: black !important;
    color: #fff !important;
}

.back-button {
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    color: #000000;
}

.back-button svg {
margin-right: 5px;
}

.display-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
