.border-bottom-only {
    // border-width: 0 0 2px !important; /* Set border width for bottom only */
    // border-color: #ffffff !important; /* Set border color */
    // border-radius: 0 !important; /* Optional: Set border radius to 0 if you don't want rounded corners */
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: black;
    width: 70%;
}

.stepper.stepper-links.stepper-nav {
    justify-content: space-between !important;
    display: flex;
}

.stepper-item {
    flex: 1;
    /* Make stepper items flexible */
    text-align: center;
    /* Center-align stepper item content */
}

.btn.btn-block.d-block.fixed-width {
    width: 136px !important;
    height: 41px !important;
    background-color: #000000;
    color: #ffffff;
    line-height: 24.2px;
    border-radius: 0;
}

.btn.btn-block.d-flex.fixed-width-lg {
    width: 203px !important;
    height: 66px !important;
    background-color: #000000;
    color: #ffffff;
    line-height: 24.2px;
    border-radius: 0;
    justify-content: center;
}


.btn.btn-block.d-flex.fixed-width-xlg {
    width: 279px !important;
    height: 110px !important;
    background-color: #000000;
    color: #ffffff;
    line-height: 24.2px;
    border-radius: 0;
    justify-content: start;
}

.font-size-20 {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.font-size-24 {
    font-size: 24px !important;
    font-weight: 400 !important;
}
.font-size-16 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.font-size-12 {
    font-size: 12px !important;
    font-weight: 400 !important;
}
.font-size-9 {
    font-size: 9px !important;
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    .stepper-item {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }
}

.btn-next-lg {    
    height: 43px !important;
    width: 202px !important;
    justify-content: center !important;
    display: flex !important;
    margin-top: 119px;
    border-radius: 0;

}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}

.btn-top-back-hidden {
    height: 28px;
    width: 59px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 18px !important;
    justify-content: center !important;
    display: flex !important;
    // border-radius: 40px;
    // background-color: #ffffff !important;
    // color: #000000 !important;
}

.w-203 {
    width: 203px;
}

.h-55 {
    height: 55px !important;
}

.btn-next-md {    
    height: 55px !important;
    width: 117px !important;
    justify-content: center !important;
    display: flex !important;
    // margin-top: 119px;
    border-radius: 0;
    background-color: #000000;
    color: #ffffff;
    border: none;

}

.mb-120 {
    margin-bottom: 120px;
}

.button-alignment {
    justify-content: center;
}


.fixed-width-xlg:has(> .btn-check:checked) {
    background-color: white;
    color:black;
}

.h-78px.w-82px {
    width: 82px !important;
    height: 78px !important;
}

.ml-30 {
    margin-left: 30px;
}