.card .card-header {
    justify-content: center !important;
}

.btn-sm, .btn-group-sm > .btn {
    border-radius: 1.5rem !important;
}

.card-body.item-card {
    border: 0.1em;
    border-color: black;
}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}