.card .card-header {
    justify-content: center !important;
}

.btn-sm, .btn-group-sm > .btn {
    border-radius: 1.5rem !important;
}

.card-body.item-card {
    border: 0.1em;
    border-color: black;
}