.fixed-height-button {
    height: 4em;
    /* Height in em units */
    font-size: 1em;
    padding: 0.5em 1em;
    width: 10em;
}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}