.fixed-height-button-1 {
    height: 61px !important;
    font-size: 1em;
    width: 110px !important;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 240px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.fixed-height-button-2 {
    height: 61px !important;
    font-size: 1em;
    width: 85px !important;
    background-color: #D9D9D9;
    color: #000000;
    position: absolute;
    top: 240px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}

.margin-top-65 {
    margin-top: 65px !important;
}

.font-size-25 {
    font-size: 25px !important;
}
.font-size-18 {
    font-size: 18px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.card-319-90 {
    width: 319px !important;
    height: 90px !important;
    background-color: #D9D9D9;
}

.img-193-298 {
    width: auto;
    height: 300px;
}

.image-container{
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-31-31 {
    width: 31px !important;
    height: 31px !important;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 148px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.w-203 {
    width: 203px;
}

.line-height-24 {
    line-height: 24.2px !important;
}

.carousel-item-width-220-px {
    width: 220px !important;
}

.image-frame {
    background: #5F5F5F;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin: 5px;
}

.image-frame-name {
    padding-bottom: 5px;
}

.optimal-score {
    position: absolute !important;
    left: -10px !important;
}

.stable-score {
    position: absolute !important;
    left: -50px !important;
}

.trouble-score {
    position: absolute;
    left: -100px;
}

.severe-score {
    position: absolute;
    left: -150px;
}

.text-left {
    text-align: left !important;
    font-size: 12px !important;
}

.analysis-table-container {
    display: flex;
    flex-direction: column;
}

.analysis-top-row-container {
    display: flex;
    justify-content: space-between;
}

.analysis-top-row-container div {
    border: 1px solid;
    border-right: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.analysis-top-row-container div span {
    font-weight: normal;
}

.analysis-top-row-container div:nth-child(3) {
    border-right: 1px solid;
}

.analysis-bottom-row-container {
    display: flex;
    justify-content: space-between;
}

.analysis-bottom-row-container div {
    border: 1px solid;
    border-right: none;
    border-top: 0px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.analysis-bottom-row-container div span {
    font-weight: normal;
    text-transform: none;
}

.analysis-bottom-row-container div:nth-child(2) {
    border-right: 1px solid;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}