.fixed-height-button-1 {
    height: 61px !important;
    font-size: 1em;
    width: 109px !important;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 240px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.fixed-height-button-2 {
    height: 61px !important;
    font-size: 1em;
    width: 84px !important;
    background-color: #D9D9D9;
    color: #000000;
    position: absolute;
    top: 240px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.btn-top-back {
    height: 28px;
    width: 60px;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    justify-content: center !important;
    display: flex !important;
    border-radius: 40px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 solid 1px !important;
}

.margin-top-65 {
    margin-top: 65px !important;
}

.font-size-25 {
    font-size: 25px !important;
}
.font-size-18 {
    font-size: 18px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.card-319-90 {
    width: 319px !important;
    height: 90px !important;
    background-color: #D9D9D9;
}

.img-193-298 {
    width: 195px !important;
    height: 300px !important;
}

.image-container{
  position: relative;
  display: inline-block;
}

.img-31-31 {
    width: 31px !important;
    height: 31px !important;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 148px; /* Adjust as needed */
    z-index: 1; /* Ensure the button appears above the image */
}

.w-203 {
    width: 203px;
}